body{ 
    background-color: #710a14;

}

.filme-1{
    width: 220px;
    height: 300px;

    margin-left: 25px;
    margin-bottom: 15px;

    border: 3px solid hsl(316, 72%, 82%);
    border-radius: 8px;
}
   

