body{ 
    background:repeating-linear-gradient(
      to right,
      #00B9B3 0px,
      #00B9B3 30px,
      #005451 30px,
      #005451 60px
    )
}

header {
    background-color: #81DACA;
    border-bottom: 3px solid #005451;
}

   

