body {
    background-color: #720002;
}

.card-filme {
    align-items: flex-start;
    text-align: left;
    background-color: #db8291;
    max-width: 100%;
    width: 500px;
    padding: 25px;
    color: #720002;

    margin: 40px auto;
    border-radius: 3px 6px 4px 5px;
}

.titulo {
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
   font-size: 30px;
   letter-spacing: 1px;
}



