body {
    background-color: #720002;
}

.card-filme {
    align-items: flex-start;
    text-align: left;
    background-color: #db8291;
    max-width: 100%;
    width: 500px;
    padding: 25px;
    color: #720002;

    margin: 40px auto;

    clip-path: polygon(
         0 1%, 5% 0, 10% 1%, 15% 0, 20% 1%,
        25% 0, 30% 1%, 35% 0, 40% 1%, 45% 0,
        50% 1%, 55% 0, 60% 1%, 65% 0, 70% 1%,
        75% 0, 80% 1%, 85% 0, 90% 1%, 95% 0, 100% 1%,

        99% 10%, 100% 20%, 99% 30%, 100% 40%,
        99% 50%, 100% 60%, 99% 70%, 100% 80%,
        99% 90%, 100% 99%,

        95% 100%, 90% 99%, 85% 100%, 80% 99%,
        75% 100%, 70% 99%, 65% 100%, 60% 99%,
        55% 100%, 50% 99%, 45% 100%, 40% 99%,
        35% 100%, 30% 99%, 25% 100%, 20% 99%,
        15% 100%, 10% 99%, 5% 100%, 0 99%,

        1% 90%, 0 80%, 1% 70%, 0 60%,
        1% 50%, 0 40%, 1% 30%, 0 20%, 1% 10%
    );


}

.titulo {
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
   font-size: 30px;
   letter-spacing: 1px;
}



