body {
    margin: 0;
    background-color: #f6bad6;
    text-align: center;
}

header{
  padding: 25px 30px 12px;
  text-align: center;
  margin: 5px 20px 0px 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 3px;
}

nav a {
    display:inline-block;
    padding: 6px 10px;
    color:#710a14;
    text-decoration: none;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

    border:1px solid transparent;
    border-radius: 20px;
    transition: 0.2s;
}

nav span {
    color: #710a14;
}

/*MOUSE*/

nav a:hover {
    background-color:#54110f;
    transform: rotate(-2deg);
    text-decoration:underline;
}


main {

    width: 80%;
    margin: 0 auto;
    width: 80%;
    padding:25px;
    font-family: 'Times New Roman', Times, serif;

}


.card-filme {
    align-content: center;

    text-align: left;
    background-color: transparent;
    max-width: 100%;
    width: 500px;
    padding: 25px;
    margin: 0 auto;


    font-family: 'Times New Roman', Times, serif;
    color: #ffff;
    background-color: #710a14;
    border-radius: 3px;
    border: 3px solid #420d19 ;
}
.card-filme img {
    display: flex;
    justify-content: flex-end;
}

.card-1 {
    color: white;
    font-size: 15px;

}


