body {
    background-color: #720002;
}

.card-filme {
    align-items: flex-start;
    text-align: left;
    background-color: transparent;
    max-width: 100%;
    width: 500px;
    padding: 25px;
    color: #720002;
}



