body {
    margin: 0;
    background-color: #f6bad6;
    text-align: center;
}

main {
    align-content: center;
    background-color: #741e31;

    width: 80%;

}

.card-filme {
    align-items: flex-start;
    text-align: left;
    background-color: transparent;
    max-width: 100%;
    width: 500px;
    padding: 25px;

}



