body{
    margin:0;
    background:repeating-linear-gradient( 
        to right,
        #96c1c5 0px,
        #96c1c5 30px,
        #fce7cc 30px,
        #fce7cc 60px
    );

    font-family: 'Times New Roman', Times, serif;
    color: #702b32;
}

header{
    width: 80%;
    margin:auto;
    box-sizing: content-box;
    border: 3px #694a47 solid;
    background-color: #fce7cc;

    text-align: center;

}

header h1{
    color:#702b32;

    font-family: "Brush Script MT", cursive;
    font-size: 48px;
}

header p{
    color:#702b32
}

nav {
    width:85%;
    box-sizing: content-box;
    box-sizing: border-box;

    background-color: #fce7cc;

    border: 3px solid #694a47

}