body{
    margin:0;
    background:repeating-linear-gradient( 
        to right,
        #96c1c5 0px,
        #96c1c5 30px,
        #fce7cc 30px,
        #fce7cc 60px
    );

    font-family: 'Times New Roman', Times, serif;
    color: #470e14;
}

header{
    width: 80%;
    margin:auto;
    box-sizing: content-box;
    border: 3px #402725 solid;
    background-color: #fce7cc;
    border-radius: 12px;

    text-align: center;

}

header h1{
    color:#470e14;

    font-family: "Brush Script MT", cursive;
    font-size: 48px;
}

header p{
    color:#470e14
}

nav {
    margin: auto;
    width:85%;
    box-sizing: content-box;

    background-color: #fce7cc;

    border: 3px solid #402725;
    text-align: center;
    border-radius:12px
}

nav a {
    display:inline-block;
    align-items: center;
    gap: 6px;


    margin:5px;
    padding: 8px 12px;
    background-color:#fce7cc;
    border:none;
    border-radius: 6px;
    color:#4a161b;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}