body{
    margin:0;
    background:repeating-linear-gradient(
        to right,
        #96c1c5 0px,
        #96c1c5 30px,
        #fce7cc 30px,
        #fce7cc 60px
    );


    font-family: 'Times New Roman', Times, serif;
    color: #710a14;
    text-align: center;
    
}
.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


header{
  background-color: #fce7cc;
  padding: 25px 30px 12px;
  text-align: center;
  border-bottom: 4px solid #470e14;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin: -20px;
}
header h1 {
    text-align: center;
    font-family:  "Alex Brush", cursive;
    font-size: 38px;
    letter-spacing: 1px;
}

header p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: -20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

nav a {
    display:inline-block;
    padding: 6px 10px;
    color:#710a14;
    text-decoration: none;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

    border:1px solid transparent;
    border-radius: 20px;
    transition: 0.2s;
}

nav span {
    color: #710a14;
}

/*MOUSE*/

nav a:hover {
    background-color:#54110f;
    transform: rotate(-2deg);
    text-decoration:underline;
}

.filmes-titulo{
 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;


    box-sizing: content-box;
    border: 3px dashed #470e14;
    border-radius: 8px;
    width: 80%;
    margin:auto;
    padding: 25px 30px 12px;




    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    background-color: #fce7cc;
}

.lista { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.cards {
    text-align: center;
    border: 3px solid #470e14;
    border-radius: 15px;
    background-color: #fce7cc;
    width: 280px;
    height: 400px;
    padding: 15px;
    box-sizing: border-box;
    margin: 0;

}

.cards h2 {
    text-align: center;
    font-family:  "Alex Brush", cursive;
    font-size: 38px;
    letter-spacing: 1px;
    margin: 10px 20px 10px 20px;
}

.cards p {
    font-size: 20px;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}
.cards img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 240px;
    height: 180px;
    border-radius: 10px;
    object-fit: contain;
    }
